<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
  <h1>Choose the action: </h1>

  <a href="#" class="liquid" th:href="@{/users/show-all}">Show The List Of All Users</a>
  <a href="#" th:href="@{/users/show}">Search User By Date</a>
  <a href="#" th:href="@{/users/delete}">Delete User By ID</a>
  <a href="#" th:href="@{/users/save}">Save The New User</a>
</body>
</html>