<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Users</title>
</head>
<body>
<h1>Choose the date:</h1>
<form>
    <form th:action= "@{/search}" method = "get">
        <label>Date: </label>
        <input type="date" id="date" name="searchDate">

        <button type="submit">Search</button>
    </form>
</form>

<h1>List of Users</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Date</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.name}"> </td>
        <td th:text="${user.age}"> </td>
        <td th:text="${#dates.format(user.date, 'yyyy-MM-dd')}"> </td>
    </tr>
</table>
</body>
</html>
